/* main */
body{
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
    box-sizing: border-box;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    /* background-color: #e5e5e5; */
  }
.content-style{
    padding: 0.625em 0.125em;
    line-height: 1.5;
}

.title-1{
    text-align: center;
    margin:0.625em auto;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color:black;
}
.title-2{
    text-align: center;
    margin:0.625em auto;
    /* padding-top: 1em; */
    font-size: 0.9em;
    font-weight: bold;
    color:#191919;
    
}
.border{
    margin: 1em auto;
    width: 1.5em;
    border-bottom: 1px solid #737373;
}
.btn-primery{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 120px;
    height: 35px;
    cursor: pointer;
    /* border: 1px solid transparent; */
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.625em 0.125em; 
    margin: 0.3125em 0.3125em 0.3125em 0;
    border-radius: 2px;
    background: #b2b2b2;
    color: #ffffff;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
}
.btn-photo{
    background-color: #bfbfbf;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
}
.btn-important{
    background: #808080;
}
.btn-primery:hover{
    background-color: #cccccc;
    transition: 1s;
}
.btn-center{
    text-align: center;
    margin: 0.625em 5em;
}
.clear{
    clear:both;
}
/* site style */

header{
    /* position: fixed; */
    background-color: #a6a6a6;
    background-size: contain;
    padding: 15px 10px 10px 10px;
}
header a.logo, .logo{
    padding: 15px 10px 10px 30px;
    font-size: 2.5em;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
}
header a.logo:hover{
    color: #ffffff;
    text-decoration: none;
     border-bottom:none;
}
#main-menu ul{
    flex: 1;
    text-align: right;
    list-style: none;
    justify-content:flex-end;
    font-size: 0.8em;
    color: #ffffff;
}
#main-menu li{
    margin-left: 10px;
    display:inline-block;
    padding: 15px 10px 0;
}
#main-menu li a, .container a{
 color:inherit;
    font-size: 0.8em;    
    text-transform: uppercase;  
    font-weight: bold;
}
#main-menu a:hover, .container a:hover{
    text-decoration: none;
    color:#f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

#scroll{
    display:flex;
}
.scrol-showbar{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 18.75em;
    margin: 0.3125em;
    padding: 0.9375em;
    background-color: #bfbfbf;
}
.item-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.images{
    padding: 0.3125em 0.625em;
    float: left;
}
.scrol-showbar ul li{
    padding-left: 0.125em;
}
#feaches, .main-content{
    margin-top: 1.5625em;
    margin-bottom: 1.5625em;
}
.feaches-box{
    display: flex;
    padding: 0.625em 1em; 
}
.box-container{
    flex-direction: column;
    align-items: center;
    padding: 0.625em 0.625em; 
    margin: 0.625em;
    border: 1px solid #bfbfbf;
    text-align: center;
}
.main-content1{
    background-color: #bfbfbf;
}
.main-content1 .images{
    float:right;
}
.aside-position{
    width: 50%;
    margin-left: 3em;
} 
.aside-list{
    list-style: circle outside;
}
#form{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.form{
    max-width: 30em;
    margin: 2em auto;
    padding: 1em 2em;
    background-color: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    
}
input{
    padding: 0.5em 0.3em; 
    margin: 0.6em 0.3em;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 2px;
    display: block;
}
.form textarea{
    width: 25em;
    padding: 0.5em 0.3em; 
    margin: 0.6em 0.3em;
	border: 1px solid #cecece;
	background: #F6F6f6;
    border-radius: 2px;
}
footer{
    height: 5em;
    background-color: #a6a6a6;
}
.social{
    display: flex;
    margin: 0.625em auto;
}
.social p{
    padding: 1em 1.5em;
    cursor: pointer;
}
.social p:hover{
    color:#F6F6f6;
}
.social p:last-child:hover{
    cursor: none;
    color:inherit;
}
 #touch-menu:hover{
    font-size: 18px;
    font-weight: bold;}
#touch-menu{display: none;}
.current{
    color:#f2f2f2;
    border-bottom: 2px solid #f2f2f2; 
}